@font-face {
  font-family: 'Poppins';
  src: url('/static/fonts/Poppins.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


#popup-message.show {
    display: block !important;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    border-radius: 2rem;
    margin-left: 12%;
}
  
body {
  background-color: #f8f6f5; 
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, .navbar-brand, .big-bold, .quiz-start-heading {
  font-family: 'Poppins', sans-serif;
}

/* navbar styling */
  .navbar {
    background-color: #f3efec00;
    padding: 1rem 0;
  }
  
  .navbar .container {
    background-color: #434343;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
  }
  
  .navbar-brand {
    color: white !important;
    font-weight: 700;
    margin-right: 28rem;

  }

  .navbar-brand:hover {
    color: #76e0df !important;
    transition: color 0.2s ease;
  }
  
  .navbar-nav .nav-link {
    color: #f5f5f5;
    font-weight: 600;
    margin-right: 1.5rem;
    transition: color 0.2s ease;
  }
  
  .navbar-nav .nav-link:hover {
    color: #76d7db; 
  }
  
  .navbar-nav .nav-link.active {
    color: #76d7db !important; 
  }
  
  .btn-accent {
    background-color: #76e0df;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.75rem;
    padding: 1.1rem 2.5rem; 
    font-size: 1.5rem;
    line-height: 1.1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .btn-accent:hover {
    background-color: #76d7db;
    transform: translateY(-2px);
  }

  .highlight-word {
    color: #76d7db;  /* custom turquoise or any color */
    font-weight: 350;
  }

  #homeipad {           
    max-width: 116.5%;   
    height: auto;                       
    margin: 0 auto;   
    margin-left: -10%;       
    margin-top: 14.5%;     
  }
  
  #mission-title {
    color:#434343;
    font-size: 50px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 100px;
  }

  #mission-subtitle {
    color: #878787;
    font-size: 30px;   
    line-height: 1.4;  
    font-weight: 400;
    margin-bottom: 40px;
  }

  /* quiz question styling */
  .drop-zone {
    display: inline-block;
    min-width: 5ch; /* or adjust to your liking */
    min-height: 1.5em; 
    border-bottom: 1px dashed #aaa;
    padding: 0 0.25em;
    margin: 0 0.2em;
    vertical-align: baseline;
    font: inherit;
    color: inherit;
  }  
  
    /* Word bank container */
  .draggable-container {
    background-color: transparent;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }

  /* Individual draggable buttons */
  .draggable {
    display: inline-flex;
    align-items: center;       
    justify-content: center;
    height: 40px;          
    padding: 6px 22px;         
    border-radius: 2rem;
    background-color: #5d5d5d;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 16px;
    cursor: grab;
    user-select: none;
    transition: transform 0.1s;
  }

  .draggable:active {
    cursor: grabbing;
    transform: scale(0.97);
  }

  .word-bank-header {
    font-size: 30px;
    font-weight: bold;
    color: #76e0df !important;
  }

  #question-root p {
    font-size: 20px;
    color: #333;
    font-weight: 400;
  }

  .list-group-item.active {
    background-color: #76e0df !important;
    border-color: #76e0df !important;
    color: white !important;
  }

  /* Light gray BACK button */
#question-root .btn-secondary {
  background-color: #d3d3d3;
  border-color: #d3d3d3;
  color: #000;
  border-radius: 20px;
}

#question-root .btn-secondary:hover {
  background-color: #c0c0c0;
  border-color: #c0c0c0;
}

/* Dark gray NEXT button */
#question-root .btn-primary {
  background-color: #555;
  border-color: #555;
  color: white;
  border-radius: 20px;
}

#question-root .btn-primary:hover {
  background-color: #333;
  border-color: #333;
}

#info-column {
  padding-top: 100px;
}

  /* brush styling */
  .brush-info-col {
    background-color: #f8f6f5;
    padding-top: 10rem;   /* Reduce from default */
    padding-bottom: 18rem;
    margin-left: auto;
  }
  
  .brush-info-box {
    flex-grow: 1;
    min-width: 310px;
    min-height: 340px;
    width: 100% !important;  
    background-color: #cccccc;
    border: 2px solid #373737;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .brush-info-box:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  }
  
  .brush-icon {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
}
  
.brush-title {
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}
  
  .brush-description {
    font-size: 1.1rem;
    color: #4d4d4d;
  }

  .return-btn-fixed {
    position: absolute;
    bottom: 120px;
    left: 30px;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    z-index: 5;
    background-color: #76e0df;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.75rem;
    font-size: 1.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .skip-quiz-btn-fixed {
    position: absolute;
    bottom: 120px;
    right: 30px;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    z-index: 5;
    background-color: #76e0df;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.75rem;
    font-size: 1.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .big-bold{
    font-weight: bold;
    color: #4d4d4d;
    font-size: 2rem;
    border: 10px;
}

.bordered{
    background: #cacaca00;
    border-radius: 20px;
    text-align: center;
    margin-top: 25px;
}

.slide{
    margin-top: 50px;
    max-width: 800px;
    position: relative;
    margin-bottom: 25px;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pulsate {
  animation: pulsate 1.5s ease-in-out infinite;
  display: inline-block; /* ensure scaling/opacity works on inline text */
}

.cyan-box {
    position: absolute;
    width: 80px;
    height: 80px;
    border: 5px solid #76e0df;
    border-radius: 10px;
    pointer-events: none;
    z-index: 2;
    animation: pulsate 1.5s ease-in-out infinite;
}

.btn-link {
    display: inline-block;
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s ease;
}
.btn-link:hover {
    background-color: #5a5a5a;
}

.card-body {
    text-align: center;
}

.card-body img {
    max-height: 100px;
    object-fit: contain;
    border: 5px solid #373737;
    border-radius: 20px;
    display: inline-block;
}

.image-wrapper {
    position: relative;
    border-radius: 20px;
    padding: 5px;
    display: inline-block;
    transition: border-color 0.3s ease;
}

.image-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 8px solid #76e0df;
    border-radius: 20px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    box-sizing: border-box;
}

.image-wrapper:hover::after {
    opacity: 1;
}
  
  .sketch-area-col {
    background-color: #d1d1d1;
    margin-left: 8.1rem;
    margin-right: 55px;
    padding-top: 52px;

  }
  
  .sketch-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #555;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
  }
  
  .sketch-placeholder {
    width: 100%;
    height: 100%;
    color: #888;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f6f5;
  }
  
  .apple-pencil {
    height: 20px;
    cursor: grab;
    animation: pulsate 1.5s ease-in-out infinite;
  }

  
  .ipad-image {
    width: 600px;        /* reduced from 400px */
    height: auto;
    display: block;
    border-radius: 30px;
  }
  
  .ipad-drop-target {
    display: inline-block;
    position: relative;
  }

  .sketch-placeholder {
    font-size: 1.1rem;
    text-align: center;
    padding: 1rem;
  }
  .sketch-area-col {
    background-color: #f5f6f800;
  }
  .ipad-frame {
    width: 400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 2rem;
    border: 15px solid black;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  /* White screen inside iPad */
  .ipad-screen-bg {
    width: 500px;
    height: 800px;
    margin-left: -10%;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
  }
  
  /* Sketch image on top */
  .sketch-inside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
  }

  .progress-bar-container {
    width: 195px;
    height: 20px;
    background-color: #ffffff;
    border: 3px solid #333;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .progress-bar-fill {
    height: 100%;
    width: 0%;
    background-color: #6fd4d8;
    transition: width 0.3s ease;
  }

  #progress-text {
    color: #3e3e3e;
    font-size: 20px;
    align-items: center;
  }
  
  .info-box {
    background: #333;
    color: rgb(255, 255, 255);
    padding: 1rem;
    width: 240px;
    text-align: center;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    margin-bottom: 10px;
  }
  
  /* quiz start page styling */
  .quiz-start-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: sans-serif;
    box-sizing: border-box;
    gap: 2rem;
  }
  
  .quiz-start-text {
    flex: 1 1 400px;
    max-width: 500px;
  }

  .btn-accent {
    background-color: #76e0df;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.75rem;
    padding: 1.1rem 2.5rem; 
    font-size: 1.5rem;
    line-height: 1.1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 10px;
  }
  
  #review-button {
    font-weight: 500 !important;
  }

  .quiz-start-image-link {
    flex: 1 1 600px;
    margin-top: -10px;
  }
  
  .quiz-start-image {
    width: 130%;
    max-height: 100vh;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .quiz-start-image:hover {
    transform: scale(1.02);
  }
   /* Apply Poppins if not already */
#quiz-root {
  font-family: 'Poppins', sans-serif;
}

.quiz-start-heading {
  font-size: 52px;
  font-weight: bold;
  color:#434343;
  margin-top: 35px;
  margin-bottom: 25px;
  line-height: 1.2;
}

.quiz-start-subtext {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  font-size: 28px;
  color: #878787;
  margin-bottom: 25px;
}

.cta-gray {
  color: #434343;
  font-weight: 600;
}

.mb-extra {
  margin-bottom: 80px; /* or whatever spacing you want */
}

#brush-key-panel {
  position: fixed;
  top: 30%;
  left: -150px;
  width: 150px;
  z-index: 1000;
  transition: left 0.3s ease;
}

#brush-key-panel:hover {
  left: 0;
}

#brush-key-tab {
  position: absolute;
  right: -44px;
  top: 33%;
  background-color: #76e0df;
  color: #363636;
  padding: 8px 10px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  border-radius: 0px 4px 4px 0;
  font-weight: bold;
  cursor: pointer;
}

#brush-key-content {
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  opacity: 0; 
  animation: fadeUp 0.6s ease-out forwards;
  animation-fill-mode: both;
}

.animate-fade-up.show {
  visibility: visible;
}

.delay-1 {
  animation-delay: 0.2s;
}
.delay-2 {
  animation-delay: 0.5s;
}
.delay-3 {
  animation-delay: 0.7s;
}
.delay-4 {
  animation-delay: 0.9s;
}
.delay-5 {
  animation-delay: 1.1s;
}

.custom-marg-left {

}

.ipad-frame-result {
  background: white;
  border-radius: 35px;
  border: 12px solid black;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  min-width: 950px;
}

#brush-button {
  padding: 0.5rem !important;
  margin: 0 !important;

}

.score-label {
  color: #bbb;
  font-weight: 600;
}

.score-value {
  font-size: 3rem;
  font-weight: 800;
  color: #333;
}

.score-total {
  font-weight: 600;
  color: #444;
}

.result-list .question-result {
  font-size: 1.2rem;
  color: #444;
}

.result-icon {
  font-size: 1.4rem;
  margin-left: 0.5rem;
}

.btn-accent {
  background-color: #77d3d4;
  color: white;
  font-weight: bold;
  border-radius: 14px;
  padding: 0.75rem 1.5rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  transition: all 0.2s ease;
}

.btn-accent:hover {
  background-color: #5cc1c3;
  transform: translateY(-2px);
}


@media (max-width: 768px) {
  .brush-tile {
    width: 100%;
  }
}

* {
  font-family: inherit;
}
.interface-heading-border {
  padding: 1rem 1rem;
  border-radius: 30px;
  background-color: lightgray;
  width: 800px;
  margin: 1rem auto 1rem auto;
  text-align: center;
}

#buttons-quiz {
  padding-left: 320px;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 20px; /* This should space them out horizontally */
  flex-wrap: wrap; /* Optional: makes them wrap on small screens */
}

.button-row a {
  margin-right: 20px;
}
.button-row a:last-child {
  margin-right: 0;
}

