{% extends "layout.html" %}

{% block content %}
<div id="home-root">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 id="mission-title">
          Your guide to using sketching brushes in <span class="highlight-word">Procreate.</span>
        </h1>
        <p id="mission-subtitle">
          Master the art of selecting <br>the perfect brush for every <br>creative project.
        </p>
        <a href="/learn" class="btn btn-accent px-5 btn-text-big animate-fade-up delay-2">
          GET STARTED
        </a>
      </div>

      <div class="col-md-6 text-center">
        <img src="/static/media/homeipad.png" id="homeipad" alt="Image of iPad" class="animate-fade-up delay-1">
      </div>
    </div>
  </div>
</div>
{% endblock %}
